# Byte-compiled / cache files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
.env
.venv/

# Logs and databases
*.log
*.sqlite3
*.db
*.sqlite

# IDE and editor settings
.vscode/
.idea/
*.swp

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# OS-specific files
.DS_Store
Thumbs.db

# Dependency files
pip-log.txt
pip-delete-this-directory.txt

# Environment variables
.env
*.secret

# csv files
.csv
